<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>404 - The Replit Dictionary - Replit's Own Urban Dictionary!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta content="404 - The Replit Dictionary - Replit's Own Urban Dictionary!" property="og:title" />
    <meta content="The Replit Dictionary | A unique and aesthetic urban dictionary, just for Replit!" property="og:description" />
    <meta content="https://TheReplitDictionary.jbloves27.repl.co" property="og:url" />
		<meta property="og:type" content="website" />
    <meta content= "{{ url_for('static', filename='favicon.png') }}" property="og:image" />
    <meta id="embed-color" content="#77AD78" data-react-helmet="true" name="theme-color" />
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="/">
          <img src="{{ url_for('static', filename='favicon.png') }}" width="50" height="50">
        </a>
        <header>
          <ul class="navbar-items">
            {% if user_id %}
              <li><a href="{{ url_for('author', name=username) }}">Profile</a></li>
              <li><a href="{{ url_for('create') }}">Create</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </header>
      </div>
    </nav>
    
    <center>
      <div>
        <h1>404 Error - Page not found!</h1>
        <p>Whoopsies, seems like we couldn't find this page. Try again!</p>
      </div>
    </center>
  </body>
</html>